/* Normalize
   ========================================================================== */
   @import url(normalize.css);

   /* Utilitaires
      ========================================================================== */
   @import url(utilitaires.css);
   
   /* Charte typographique
      ========================================================================== */
   @import url(typo.css);
   
   /* Grille 
      ========================================================================== */
   @import url(grille.css);



* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.root {



}

header{

    background-color: #222;
    flex-direction: column;
    padding: 2em;

}
.lienAccueil{
    display: flex;
}
.lienTitre{
    text-decoration:none;
}
.lienTitre img{

    width: 75%;

}
.titre{
    font-size: 1.3em;
    text-decoration:none;
    text-align:center;
    color:#A4A
}
@media(min-width:600px){
    .titre{
        font-size: 1.5em;
    }
}
.titre:hover,
.titre:focus{
    color: #A4A;
}
/* Menu */
.menu{

    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;

}
@media(min-width:600px){
    .menu{
        flex-direction: row;
        justify-content:center
    }
}
.menu__item{

    font-size: 1.3em;
    background-color:#337;
    margin:1px 0 1px 0;

}
@media(min-width: 600px) {
    .menu__item {

        flex: 0 0 calc(100%/6);
        margin:0 1px 0 1px;
    
    }
}
.menu__lien {

    width: 100%;
    text-align: center;
    /* height: 1.6em; */
    line-height: 1.7em;
    text-decoration: none;

}

.menu__lien:link,
.menu__lien:visited {
   
    color: #FADB84;
    font-weight: 600;
    transition: all .3s ease;


}

.menu__lien:hover,
.menu__lien:active{

  color: #FF9900;

}

main {

    margin: 3em

}

.form-section {
    
    border: 2px solid #333;

}

.date-arrivee label{

    display: block;

}
.date-depart label{

    display: block;

}
.champNombrePersonnes{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
@media(min-width: 600px){

    .champNombrePersonnes{

        flex-direction: row;
    
    }
}
.champNombrePersonnes p{
    margin: .5em;
    padding: 1em;
    border: 1px solid #333;
    background-color: #EEE;

}

.liste {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 1.5em 0;
}
@media(min-width: 600px) {
    .liste{
        flex-direction: row;
        justify-content: space-around;
    }
}
.figure {

    padding: 1.5rem;;

}

.liste__label{

    margin: 1em;

}
/* Les trois prochaines lignes ont été grandement inspirées du forum au https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons */
/* 1 - Cache les boutons radios */
.radioChambres { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* 2 - Style du curseur au survol */
.radioChambres + figure img {
    cursor: pointer;
}
  
/* 3 - Style au checked */    
.radioChambres:hover + figure img,
.radioChambres:focus + figure img{
    outline: 2px solid #333;
}
.radioChambres:checked + figure img {
    transition: 0.5s;
    transform: scale(105%);
    outline: 8px solid #9B0;
}


.liste__item--figcaption {

    text-align:center;

}

.liste__label {

    background-color: #EEE;

}


.identification label {

    display: block;
    margin: 0 0 0.5em 0;

}

.aside{
    padding: 2em 1em 2em 1em;
}

.footer{

    background-color: #eee;
    padding: 3em 1em 3em 1em;

}
.footer p{
    text-align:center
}